<!DOCTYPE HTML>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Green Button Data Visualization</title>
  <link rel="stylesheet" href="static/css/normalize.css" />
  <link rel="stylesheet" href="static/css/foundation.css" />
  <script src="js/vendor/custom.modernizr.js"></script></script>
  <style>
  html,body{
    background-color: #27ae60;
  }
  h1{
    color:#fff;
  }
  </style>
  
</head>
<body>
  <div class="row">
  <div class="large-6 column" style="margin-top: 50px;">
  <h1 id="heading">Upload your GreenButton Data</h1>
  <form action ="" method="post" enctype="multipart/form-data">
    <p>
      <input type="file" name="file">
      <input class="button large secondary round" type="submit" name="upload" value="Upload">
    </p>
  </form>

  <h5>Where is can find a green button datar</h5>
  <p></p>
  </div>
  </div>
</body>
